.ipynb_checkpoints
data
venv/*
*.py
statistics/venv/bin
statistics/venv
titanic/pyspark/venv
1titanic/pyspark/ans
1titanic/pyspark/venv
1titanic/sqlearn/venv
1titanic/sqlearnFinal/venv
2anomalias/anomalias/venv
2anomalias/anomalias/.tmp/images/multijoint
2anomalias/anomalias/images
